.header {
    background-color: lightgray;
    line-height: 4;
}
img {
    width: 50px;
    height: auto;
}
.title {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    horiz-align: center;
}

button {
    text-align: center;
    margin-left: 25px;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    horiz-align: center;
    background-color: slateblue;
}